<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAWAHAWAI HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>
  body {
            background: linear-gradient(135deg, #89f7fe, #66a6ff);
            height: 100vh;
            font-family: "Poppins", sans-serif;
            padding-top: 40px;
        }
        </style>

    <h1 align ="center">HAWAHAWAI</h1>
    <br>
    <hr>
    <div class="container w-50">
        <form>
        <input type="text" name="q" placeholder="Enter your city name...">
        <br>
        <br>
        <button class="btn btn-primary" type= "submit"> Get Weather</button>
        </form>
<div class="container my-4 p-4 rounded-3 " style="border: 2px solid #090909;">
        <h5>City : {{city}} <img src="https://openweathermap.org/img/wn/{{icon}}.png" alt=""></h5>
        <h5>Temp : {{temp}}</h5>
        <h5>description : {{description}}</h5>
        <h5>humidity : {{humidity}}</h5>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>
